@{
    ViewData["Title"] = "Realizar Upload";
}

<h2>@ViewData["Title"]</h2>

<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
    <input type="file" name="archives" multiple />
    <input type="submit" value="Enviar Arquivo" />
</form>


@ViewBag.Range

