@{
    ViewData["Title"] = "Importar arquivo Excel";
}

<br />

<h3>@ViewData["Title"]</h3>

<hr />

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <p class="small">Carregue arquivos com a extensão .xlsx</p>
        <br />
        <form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index" class="form-group-sm">
            <div class="form-group row">
                <div class="col-md-2">
                    <input type="file" name="archives" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <input type="submit" class="btn btn-default btn-sm" value="Enviar arquivo" />
                </div>
            </div>
        </form>

        @{ var messageClass = "text-danger"; }

        @if (!string.IsNullOrEmpty(@ViewBag.Message) && @ViewBag.Message.Contains("sucesso"))
        {
            messageClass = "text-success";
        }

        <div class=@messageClass>
            @ViewBag.Message
        </div>
    </div>
</div>



